In [2]:
import pandas as pd
import os

## Data Clean-Up

In [3]:
df = pd.read_csv('./DBA (7) Day Spread Sheet.csv')
df.head()

,Date,Time,Voltage AN Min,Voltage AN Avg,Voltage AN Max,Voltage BN Min,Voltage BN Avg,Voltage BN Max,Voltage CN Min,Voltage CN Avg,...,THD A A Max,THD A B Min,THD A B Avg,THD A B Max,THD A C Min,THD A C Avg,THD A C Max,THD A N Min,THD A N Avg,THD A N Max
0,27/12/2019,18:43.0,280.525,282.965,284.082,280.714,283.138,284.303,280.337,282.713,...,20.2,4.8,13.7,20.1,5.4,14.4,20.7,99.9,99.9,99.9
1,27/12/2019,33:43.0,281.533,284.067,284.649,281.690,284.224,284.838,281.501,283.799,...,19.9,4.9,13.7,19.7,5.2,14.3,20.2,99.9,99.9,99.9
2,27/12/2019,48:43.0,282.036,284.570,285.121,282.131,284.728,285.184,281.973,284.256,...,17.9,2.8,12.9,17.9,3.3,13.5,18.3,99.9,99.9,99.9
3,27/12/2019,03:43.0,280.085,284.318,285.688,280.211,284.492,285.940,279.990,284.004,...,17.1,3.0,11.1,16.7,3.2,11.7,17.2,99.9,99.9,99.9
4,27/12/2019,18:43.0,279.959,282.430,282.855,280.148,282.603,283.044,279.644,282.084,...,18.0,3.0,11.5,17.8,3.3,11.9,18.3,99.9,99.9,99.9

In [10]:
meter_data = pd.DataFrame()
df.to_csv("DBA_simplified.csv", index=False)

In [13]:
dba_data = pd.read_csv('DBA_simplified.csv')

# re-initialize new dataframe
dba_data = dba_data[['Time','Current A Avg','Voltage AN Avg','Active Power AN Avg','VA Full Classic AN Avg','Active Power Total Avg','VA Full Classic Total Avg']]
dba_data.head()

,Time,Current A Avg,Voltage AN Avg,Active Power AN Avg,VA Full Classic AN Avg,Active Power Total Avg,VA Full Classic Total Avg
0,18:43.0,91.364,282.965,21379.363,25874.318,63873.680,77471.867
1,33:43.0,91.909,284.067,21417.137,26100.955,64024.773,78227.320
2,48:43.0,88.909,284.570,20699.455,25307.727,62022.820,76225.359
3,03:43.0,86.727,284.318,20095.092,24665.592,60020.867,74110.094
4,18:43.0,87.273,282.430,20132.863,24627.818,60096.406,73845.680

## Identify Stats

In [14]:
dba_data.describe()

,Current A Avg,Voltage AN Avg,Active Power AN Avg,VA Full Classic AN Avg,Active Power Total Avg,VA Full Classic Total Avg
count,676.000000,676.000000,676.000000,676.000000,676.000000,676.000000
mean,96.606790,282.733834,22655.254831,27311.190494,66883.374904,80444.733781
std,6.385537,0.963305,1780.462446,1781.784020,5272.961730,5263.962427
min,86.727000,280.352000,20095.092000,24627.818000,60020.867000,73845.680000
25%,93.545000,282.032250,21832.637000,26469.238500,64402.500000,77887.367000
50%,94.773000,282.744500,22172.592000,26818.637000,65384.590000,78945.000000
75%,96.170250,283.374000,22512.545000,27205.806500,66527.216500,80115.953000
max,127.364000,285.279000,31540.227000,36035.184000,92807.594000,105801.406000